
header{
       text-align: center;
       width: 500px;
}
.divim{
       width: 500px;
}
body {
  color: white;
  background-color: #03224C ;
  margin: 100px;
  text-align: justify center ;
  display: inline;
  font-size: 1.8em;
}
h1,h2{ color: green;
}

/*.divim{width: 0px;
       height: 0px;
}*/
